*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
}
.top-title{
    font-size: 2.5rem;
    font-weight: 900;
    width: 100%;
    text-align: center;

}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-items: center;
    position: relative;
}

.cell:nth-child(1),.cell:nth-child(2),.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1),.cell:nth-child(4),.cell:nth-child(7){
    border-left: none;
}
.cell:nth-child(9),.cell:nth-child(8),.cell:nth-child(7){
    border-bottom: none;
}

.cell:nth-child(9),.cell:nth-child(6),.cell:nth-child(3){
    border-right: none;
}

.cell.x::before,.cell.x::after{
    content: '';
    width: 13.5px;
    height: 90px;
    background-color: black;
    position: absolute;
}
.cell.x::before{
    transform: rotate(45deg);
}
.cell.x::after{
    transform: rotate(-45deg);
}

.cell.circle::before,.cell.circle::after{
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: black;
    position: absolute;
}

.cell.circle::after{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;   
}
.cell:hover{
    cursor: pointer;
}
.cell.x:hover,.cell.circle:hover{
    cursor: not-allowed;
}

.board.x .cell:not(.x):not(.circle):hover::before,.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    width: 13.5px;
    height: 90px;
    background-color: lightgray;
    position: absolute;  
    cursor: pointer;
}
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
    cursor: pointer;
}
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
    cursor: pointer;
}

.board.circle .cell:not(.x):not(.circle):hover::before,.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background-color: lightgray;
    position: absolute;
    cursor: pointer;
}
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: white;   
}


.winner.show{
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    flex-direction: column;
    
}
#restart{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 1em;
    
}
#restart:hover{
    cursor: pointer;
    background-color: black;
    color: white;

}